body.episodes {
    background-color: #efefef;  

    .titleBox h1 {
        width: 98%;
        margin: 0 auto;
        padding: 15px 5px;
        font-weight: normal;
        font-size: 20px;
        font-family: monospace;
        border: 0;
        border-bottom: 2px solid #ddd;
        max-width: 1020px;
        box-sizing: border-box;
    }

    .seasonList {
        width: 97%;
        margin: 0 auto;
        max-width: 1010px;

        .season {
            background-color: #fff;
            text-decoration: none;
            display: flex;
            border-radius: 3px;
            overflow: hidden;
            margin: 5px 0;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            border: 1px solid #ddd;
            flex-wrap: wrap;
        
            .poster {
                min-width: 100px;
                width: 100px;
                background-color: #dbdbdb;
                flex:1;

                img {
                    display: block;
                    width: 100%;
                }

                &.null img {
                    padding: 48px 18px;
                    width: 55px;
                    margin: 0 auto;
                }
            }
        
            .info {
                flex: 7;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                padding: 0 15px 0 5px;
        
                .title {
                    font-family: monospace;
                    font-size: 18px;
                    font-weight: bold;
                    max-height: 40px;
                    overflow: hidden;
                    margin-bottom: 2px;
                    color:#333;
                }
        
                .date {
                    font-family: monospace;
                    font-size: 12px;
                    color: #888;
                }
        
                .overview {
                    font-family: arial;
                    font-size: 12px;
                    margin-top: 6px;
                    color:#333;
                    overflow: hidden;
                    position: relative;
                    line-height: 1.2em;
                    max-height: 2.4em;
                    text-align: justify;
                    margin-right: -1em;
                    padding-right: 1em;
        
                    &:before{
                        content: '...';
                        position: absolute;
                        right: 1px;
                        bottom: 0px;
                    }
        
                    &:after{
                        content: '';
                        position: absolute;
                        right: 0;
                        width: 1em;
                        height: 1em;
                        margin-top: 0.2em;
                        background: white;
                    }
                }
            }

            .seasonBtnGrp {
                width: 100%;

                a {
                    width: 33.333%;
                    border-radius: 0;
                    font-size: 80%;
                    padding: .5em;
                }
            }
      
            ul.episodeList {
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 0 10px;
                display: none;

                li.episode {
                    display: flex;
                    align-items: center;
                    padding: 10px 0;
                    justify-content: center;
                    border-bottom: 1px solid #ccc;
                    flex-wrap: wrap;

                    &:last-child {
                        border-color: transparent;
                    }

                    .epiNum{
                        padding: 18px 15px;
                        width: 58px;
                        font-size: 18px;
                        font-weight: bold;
                        font-family: monospace;
                        box-sizing: border-box;
                        text-align: center;
                    }

                    .epiStill{
                        width: 75px;
                        background-color: #dbdbdb;
                        border-radius: 3px;
                        overflow: hidden;

                        img {
                            display: block;
                            width: 100%;
                        }

                        &.null img {
                            width: 32px;
                            padding: 12px 0;
                            margin: 0 auto;
                        }
                    }

                    .epiName{
                        flex: 1;
                        font-size: 16px;
                        padding: 19px 10px;
                        width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        min-width: 190px;
                    }

                    .episodeBtnGrp {
                        width: 231px;
                        margin: 5px 0;

                        a {
                            font-size: 75%;
                        }
                    }
                }
            }
        } 
    }

    .button-success, .button-secondary {
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    .button-success {
        background: rgb(28, 184, 65);
    }

    .button-secondary {
        background: rgb(66, 184, 221);
    }
}

@media only screen and (max-width: 375px) {
    .seasonBtnGrp a {
        width: 100% !important;
        border-right: 0 !important;
    }
  }